
feruto/.svn/pristine/fb/fbd5d6524e15ea22ddad0b4c7f50daa992cbbef4.svn-base
feruto/.svn/pristine/f5/f5ddb59a6222afb0d2edb994c046c0c670f7a936.svn-base
feruto/.svn/pristine/f2/f2b31c9b46871aee12624bd173c82c05cc9c0acf.svn-base
feruto/.svn/pristine/f0/f0fc1bd60f1f4223b5fac83b89d8a738c1e07474.svn-base
feruto/.svn/pristine/ee/ee6fbcd1dbc2cf3b77ad003ca565a6a2bd10c820.svn-base
feruto/.svn/pristine/e8/e89366ea26031962a9797b2d2f7968fbf2d6cdba.svn-base
feruto/.svn/pristine/e2/e2e6e1f275ba4af97fc889adf1323e29818c764e.svn-base
feruto/.svn/pristine/df/df649d1b5f2316d3751d13a941baaa5977a06b32.svn-base
feruto/.svn/pristine/dd/dd8ba1b2aaf14f5f5f1eb48d415562586b2f0f2d.svn-base
feruto/.svn/pristine/d6/d6fcb1b7c2d0bf29a9ebcb7871425b13c7adefea.svn-base
feruto/.svn/pristine/d3/d35d81f7a55f9f04f1ff8ac2647e1e41f824dadf.svn-base
feruto/.svn/pristine/d2/d20dc0b98d63710ce3b3fd682a481e16df903541.svn-base
feruto/.svn/pristine/cc/cc6bd02354a03e15f579a1fac7461ea168ed7009.svn-base
feruto/.svn/pristine/cc/cc08312e77fe87ccfa9e4ae6ea2420fee7ac5b9b.svn-base
feruto/.svn/pristine/c6/c6429c4f7e51d2876f7c5a46f9e10d76cb6deffd.svn-base
feruto/.svn/pristine/c2/c2dd76eafed146479746ae205092d560d77f2eb7.svn-base
feruto/.svn/pristine/c1/c1401ed87075c8326939591545314bb1241af18e.svn-base
feruto/.svn/pristine/c0/c01c917d521639a5aa45d68fdddf5f6ad9f7ffbb.svn-base
feruto/.svn/pristine/b8/b89dd31993985dd4e5238e392129767c86cb2e49.svn-base
feruto/.svn/pristine/b6/b682a613e95d9a690d818c0b4d26a53d342db267.svn-base
feruto/.svn/pristine/b1/b13c20776c0f46ef2a870fdf65ad03eea4e9f083.svn-base
feruto/.svn/pristine/b1/b1007baf7852a9458f3dd861767b50f1c2ffc862.svn-base
feruto/.svn/pristine/ac/ac91ac4180fae88bf716c1736ab30ec7e3a0299e.svn-base
feruto/.svn/pristine/a9/a9a7bde773c5fed3bd1a57a905842867e2f5ff81.svn-base
feruto/.svn/pristine/a7/a7359c050df0a5058adee0747557b9300611a25d.svn-base
feruto/.svn/pristine/a5/a582e519db42b12d94748fdb7ed8f1a649765017.svn-base
feruto/.svn/pristine/a1/a112be21c325d37ebc17baafd40c0386b5d09df1.svn-base
feruto/.svn/pristine/9e/9e560930fbdd7e595e648424d57e8c540afeb56f.svn-base
feruto/.svn/pristine/9c/9cc3a91c171dd74a99255a7c2ee894f7ce4b606f.svn-base
feruto/.svn/pristine/9b/9b4f4fd392ffce7b8ffb863f0746bf7177e7339a.svn-base
feruto/.svn/pristine/9a/9ac41f1580d722be853328cf110a4a6c9cd0d10c.svn-base
feruto/.svn/pristine/99/99d432769fe6f0c163a114102810e42437eeaac7.svn-base
feruto/.svn/pristine/99/99b2d5c1f6419c7f1a3fbb93ce98ba3742731324.svn-base
feruto/.svn/pristine/97/97e58673019bb67fb6a18fad580c73e0802462b7.svn-base
feruto/.svn/pristine/96/96e951336922c3d6b046111e3a24f49cb74dad28.svn-base
feruto/.svn/pristine/95/95cb3387eaf6e019172ab342a8a46fd05b5ccd08.svn-base
feruto/.svn/pristine/8e/8e64f5ce977238ae724987823032d71868612c46.svn-base
feruto/.svn/pristine/8e/8e536ff4ab5266deee85a4bc48236fcdc25e0170.svn-base
feruto/.svn/pristine/8c/8c09cfc994297fd32f2a346b5a1fc8637c3560e4.svn-base
feruto/.svn/pristine/8b/8b97d189c5193abd3abb1957227df284e97987ed.svn-base
feruto/.svn/pristine/89/89ff6856dd9b338c1ba03c0a2661a1149e6aa047.svn-base
feruto/.svn/pristine/86/86e2c8ad2a2882c3178b5f1bf14367d656895ad1.svn-base
feruto/.svn/pristine/82/821ccb4e2286d057bcc2a70df419d5dfa73562dc.svn-base
feruto/.svn/pristine/7e/7e26feb0b38f8da739e37278d2df806d56dfe651.svn-base
feruto/.svn/pristine/7c/7c18a4182b98b11ff48d5104a90ae92d33280957.svn-base
feruto/.svn/pristine/79/796b685b0c140f507c11f2af326b089f7f382bc0.svn-base
feruto/.svn/pristine/72/727a6a4e948750e0b63fdd71196f5791effb2db9.svn-base
feruto/.svn/pristine/6e/6e87c0408db42249ef689858be1625db69b694c0.svn-base
feruto/.svn/pristine/67/67d287f058951693f911afd6a1311d1a2e6acf4d.svn-base
feruto/.svn/pristine/65/653995d87e8b856a7b0064a8cc77e13c9bc872d1.svn-base
feruto/.svn/pristine/5d/5d23bd0f70649f0ce063ce0c3b0d915f5dab5252.svn-base
feruto/.svn/pristine/5c/5c45497c6ae2d331abf9148193bb16057b3cd681.svn-base
feruto/.svn/pristine/5a/5ab4a163065fcf07bcd8dff37612242a462a05aa.svn-base
feruto/.svn/pristine/4c/4c19933b698a24440504eeaf4fbef08499c2ccc8.svn-base
feruto/.svn/pristine/4a/4ab326f3cdcc8170977003a1d9e06344ce75a44f.svn-base
feruto/.svn/pristine/48/4856b6971500978eedaff25ae2ffeb55093595e1.svn-base
feruto/.svn/pristine/44/448e97021b18a82b45edeb342da365f3b32b77c4.svn-base
feruto/.svn/pristine/34/347cf157e95ed77247a3e5ed7e798c1a649f4d0e.svn-base
feruto/.svn/pristine/34/3410680b47a290c19581ab7fd27a907f6385e90f.svn-base
feruto/.svn/pristine/33/33dc7ecdb067ecc6e403d1336ca5b8e4cc8f051a.svn-base
feruto/.svn/pristine/25/255228208c3384923d42180ada225d849cf2bb08.svn-base
feruto/.svn/pristine/25/250d9ce706d5e0b47471572c66a253e3d6d273e7.svn-base
feruto/.svn/pristine/22/22fc4dd283c12885501ce06b78ddc7355d836911.svn-base
feruto/.svn/pristine/1f/1fee5951158e3ae4e75b60242f994ed49791a2da.svn-base
feruto/.svn/pristine/1c/1c02a3bd52218d5178eeab72dd6fe7194dcde72b.svn-base
feruto/.svn/pristine/15/15598985e406d4dd107205d704e9655b857027a7.svn-base
feruto/.svn/pristine/14/14bb6e9dfbc16c667bc80fcf523f1c6822066999.svn-base
feruto/.svn/pristine/0f/0fa7dda6a6fa344a0d10fc4a8dc55750016af686.svn-base
feruto/.svn/pristine/0f/0f9ba49f0e20611cf091979039d8988434beb14f.svn-base
feruto/.svn/pristine/09/091406500edc71d7c6fec89ef2b4f666e14b6d55.svn-base
feruto/.svn/pristine/05/059aa2197e9526680500c7f2262c915d37b9d730.svn-base
feruto/.svn/pristine/03/039d16b73493265a9885c7e3f716dec39413f621.svn-base
feruto/.svn/format
feruto/.svn/entries
feruto/.settings/org.eclipse.m2e.core.prefs
feruto/.settings/org.eclipse.jdt.core.prefs
feruto/.settings/org.eclipse.core.resources.prefs
feruto/.project
feruto/.classpath
feruto/.svn/wc.db
feruto/target/classes/com/oesia/formacion/practica/App.class
feruto/target/classes/com/oesia/formacion/practica/architecture/communications/MessageFactory.class
feruto/target/classes/com/oesia/formacion/practica/architecture/communications/MessageManager.class
feruto/target/classes/com/oesia/formacion/practica/architecture/communications/messages/Message.class
feruto/target/classes/com/oesia/formacion/practica/architecture/communications/messages/MessageManagerImpl.class
feruto/target/classes/com/oesia/formacion/practica/architecture/communications/messages/put/PutMessageInfo.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/managers/AbstractManager.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/managers/article/ArticleManager.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/managers/article/ArticleManagerImpl.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/managers/Manager.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/model/Article.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/model/Colour.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/model/Size.class
feruto/target/classes/com/oesia/formacion/practica/architecture/domain/model/WorkOrder.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/daos/article/ArticleDao.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/daos/article/ArticleDaoImpl.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/daos/Dao.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/daos/workorder/WorkOrderDao.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/daos/workorder/WorkOrderDaoImpl.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/AbstractEntity.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/article/ArticleEntity.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/article/ArticleEntityImpl.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/Entity.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/vendor/VendorData.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/workorder/WorkOrderEntity.class
feruto/target/classes/com/oesia/formacion/practica/architecture/persistence/entities/workorder/WorkOrderEntityImpl.class
feruto/target/classes/com/oesia/formacion/practica/context/Context.class
feruto/target/classes/com/oesia/formacion/practica/context/ContextFactory.class
feruto/target/classes/com/oesia/formacion/practica/remote/RemoteManager.class
feruto/target/classes/com/oesia/formacion/practica/remote/RemoteManagerImpl.class
feruto/target/classes/com/oesia/formacion/practica/remote/RemoteSender.class
feruto/logs/debug.log
feruto/logs/info.log
